# Copy this file to .env.local and fill in real values
MONGODB_URI="mongodb://<username>:<password>@localhost:27017/recipecart?authSource=admin"
MONGODB_ROOT_USERNAME=root
MONGODB_ROOT_PASSWORD=<your-password-here>
