# Next.js
MONGODB_URI="mongodb://<username>:<password>@localhost:27017/cart?authSource=admin"

# Docker Compose — copy to .env
MONGODB_APP_NAME=
MONGODB_DB_NAME=
MONGODB_ROOT_USERNAME=root
MONGODB_ROOT_PASSWORD=root-password-here
